p { color: aqua; }

.class1 { background: #fff url(doraemon.jfif) no-repeat scroll center center; }
.class1 p { color: #190227;}


h1 { color: #071638; border-style: dashed; 
    border-width: 7px;
     border-color: #071638; 
     border-radius: 4px; }


.class2 { height: 390px;
          width: 567px;
          border: 5px solid white; }

